@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  list-style-type: none;
}

body {
  background-color: #292a33;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#wrapper {
  width: 660px;
  height: 460px;
  border-radius: 30px;
  background-color: white;
  padding: 25px;

  display: flex;
  justify-content: flex-end;
}

.content {
  margin-left: 25px;
}

#wrapper h1 {
  font-size: 45px;
  font-weight: 900;
  letter-spacing: -2.5px;
  color: #292a33;
  margin-bottom: 25px;
  /* margin-top: 45px; */
}

#wrapper .description {
  color: #8d9099;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 16px;
}

.check-list {
  color: #8d9099;
  font-size: 12px;
  font-weight: 300;
}

.check-list li {
  display: flex;
  margin-bottom: 8px;
}

.check-list li img {
  margin-right: 8px;
}

form {
  margin-top: 25px;
}

form label {
  font-size: 12px;
  font-weight: 700;
  display: block;
  margin-bottom: 8px;
}

form input {
  height: 43px;
  width: 256px;
  padding: 0 18px;
  border-radius: 5px;
  outline: none;
  border: solid 2px #292a33;
  margin-bottom: 8px;
  color: #8d9099;
}

form button {
  height: 43px;
  width: 256px;
  border-radius: 5px;
  background-color: #292a33;
  color: white;
  font-weight: 700;
  outline: none;
  border: none;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
}
